In [17]:
import numpy as np
import pandas as pd

# Question 1
hitters = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Hitters.csv', sep=',', header=0)
hitters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
AtBat        322 non-null int64
Hits         322 non-null int64
HmRun        322 non-null int64
Runs         322 non-null int64
RBI          322 non-null int64
Walks        322 non-null int64
Years        322 non-null int64
CAtBat       322 non-null int64
CHits        322 non-null int64
CHmRun       322 non-null int64
CRuns        322 non-null int64
CRBI         322 non-null int64
CWalks       322 non-null int64
League       322 non-null object
Division     322 non-null object
PutOuts      322 non-null int64
Assists      322 non-null int64
Errors       322 non-null int64
Salary       263 non-null float64
NewLeague    322 non-null object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

In [18]:
hitters = hitters.dropna()
hitters.describe()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary
count,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000,263.000000
mean,403.642586,107.828897,11.619772,54.745247,51.486692,41.114068,7.311787,2657.543726,722.186312,69.239544,361.220532,330.418251,260.266160,290.711027,118.760456,8.593156,535.925882
std,147.307209,45.125326,8.757108,25.539816,25.882714,21.718056,4.793616,2286.582929,648.199644,82.197581,331.198571,323.367668,264.055868,279.934575,145.080577,6.606574,451.118681
min,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,19.000000,4.000000,0.000000,2.000000,3.000000,1.000000,0.000000,0.000000,0.000000,67.500000
25%,282.500000,71.500000,5.000000,33.500000,30.000000,23.000000,4.000000,842.500000,212.000000,15.000000,105.500000,95.000000,71.000000,113.500000,8.000000,3.000000,190.000000
50%,413.000000,103.000000,9.000000,52.000000,47.000000,37.000000,6.000000,1931.000000,516.000000,40.000000,250.000000,230.000000,174.000000,224.000000,45.000000,7.000000,425.000000
75%,526.000000,141.500000,18.000000,73.000000,71.000000,57.000000,10.000000,3890.500000,1054.000000,92.500000,497.500000,424.500000,328.500000,322.500000,192.000000,13.000000,750.000000
max,687.000000,238.000000,40.000000,130.000000,121.000000,105.000000,24.000000,14053.000000,4256.000000,548.000000,2165.000000,1659.000000,1566.000000,1377.000000,492.000000,32.000000,2460.000000

In [19]:
# Create dataframe with 3 columns
data = hitters[["Hits", "HmRun", "Runs"]]
data.describe()

             Hits       HmRun        Runs
count  263.000000  263.000000  263.000000
mean   107.828897   11.619772   54.745247
std     45.125326    8.757108   25.539816
min      1.000000    0.000000    0.000000
25%     71.500000    5.000000   33.500000
50%    103.000000    9.000000   52.000000
75%    141.500000   18.000000   73.000000
max    238.000000   40.000000  130.000000

In [86]:
# Question 2
def test_create_dataframe(df):
    """
    Input: df - pandas DataFrame variable
    Output: True if the following conditinos hold:
        * The DataFrame contains only the columns that I specified in #1
        * The columns contain the correct data type
        * There are at least 10 rows in the DataFrame
    """
    ret = True
    
    # Condition 1: The DataFrame contains only the columns that I specified in #1
    if (sorted(list(df)) != sorted(list(data)) and ret == True):
        ret = False
        print("The DataFrame does not contain only the columns specified in #1.")
    
    # Condition 2: The columns contain the correct data type
    elif (np.any(data.dtypes != df.dtypes) and ret == True):
        ret = False
        print("The columns do not contain the correct data type.") 

    # Condition 3: There are at least 10 rows in the DataFrame
    elif len(df.index) < 10:
        ret = False
        print("There are less than 10 rows in the DataFrame.")
        
    if (ret == True):
        print("The input DataFrame meets the requirements.")
    return ret

In [87]:
# Question 2 Test Case 1: subset of Hitters 3-column dataset
# Expected result: True
data_subset = data.loc[hitters['HmRun'] > 10]
test_create_dataframe(data_subset)

The input DataFrame meets the requirements.

True

In [88]:
# Question 2 Test Case 2: Does not contain only the columns specified in #1
# Expected result: False
data_diffcol = hitters[["Hits", "Runs", "RBI"]]
test_create_dataframe(data_diffcol)

The DataFrame does not contain only the columns specified in #1.

False

In [92]:
# Question 2 Test Case 3: Does not contain the correct data type
# Expected result: False
convert_dict = {'Hits': float}  
data_subset2 = data_subset.astype(convert_dict)
test_create_dataframe(data_subset2)

The columns do not contain the correct data type.

False

In [93]:
# Question 2 Test Case 34: Less than 10 rows in DataFrame
# Expected result: False
data_subset3 = data_subset.head()
test_create_dataframe(data_subset3)

There are less than 10 rows in the DataFrame.

False